body {
	margin: 0;
	font-family: "Arial";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input[type="text"],
textarea {
	border-radius: 0.25rem;
	width: 50%;
	padding: 0.375rem 0.75rem;
	border: 1px solid #ccc;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: inherit;
	color: #333;
	outline-color: #ccc;
	line-height: 20px;
}

button {
	width: 5rem;
	color: white;
	height: 2.1rem;
	border-radius: 0.25rem;
	font-size: 14px;
	border: 1px solid transparent;
	cursor: pointer;
}

::placeholder {
	color: #aaa;
}

.saveBtn {
	background-color: #39acdc;
	margin-right: -10px;
}

.saveBtn:hover {
	background-color: #0577a8;
}

.deleteBtn {
	background-color: #ec3646;
	margin-left: 20px;
}

.deleteBtn:hover {
	background-color: #be0515;
}

.addBtn {
	background-color: #57b93e;
	margin-top: 5px;
	margin-bottom: 20px;
}

.addBtn:hover {
	background-color: #379b1e;
}
